.title__blocks {
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background: #000000;
    padding: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &-choice, &-white {
        background:#FFFFFF;
        color: #000000;
    }
}